
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>

        function createRoom() {

            var sala_titulo = document.getElementById("sala_titulo").value
            fetch("/api/sala", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "titulo": sala_titulo
                })

            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                alert("Sala criada com sucesso")
            })
        }
    </script>
</head>
<body>
    <h1> EU AMO DEVOPS - Germinare Tech :</h1> 
    <p></p>
    <h1>Captura de temperatura</h1>

    <!-- Criar Sala -->
    <h2>Ambiente de Sala</h2>
    <label for="sala_titulo">Sala titulo:</label>
    <input type="text" id="sala_titulo" placeholder="Entre com o titulo">
    <button onclick="createRoom()">Gravar</button>
</body>
</html>
